/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  border: 1px solid red;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* -------------------------------- */

#flexContainer{
    display:flex;
    height: 100vh;
}

#leftContainer{
    width: 45%;
    background-image: url("./content/peyman-shojaei-vRbRbzaXoBw-unsplash.jpg");
    background-position: center;
    background-size: 300%;
}

#companyLogo{
    background-color: black;
    margin-top: 30vh;
    opacity: 0.45;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#odinLogo{
    width: 120px;
    height: auto;
    opacity: 1;
}

#rightContainer{
  width:100%;
  height:100vh;
  background-color: rgb(4, 25, 25);
}

#formHeader{
  text-align: center;
  margin-bottom: 100px;
}

#formTitle{

}

#disclaimer{
  font-weight: 1000;
  color: white;
  font-size: 26px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 500px;
  padding-bottom: 20px;
}

#formContainer{
  background-color: rgb(29, 29, 29);
  height:300px;
  padding-left: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#formTitle{
  text-align: center;
  color: white;
}

form{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#formInternalContainer{
  display:flex;
  flex-direction: column;
}

#formInternalContainerLeft{
  width:100%;
}
#formInternalContainerRight{
  width:100%;
}

.textInput{
  width: 60%;
  margin: 5px 0px;
  background-color: rgb(255, 255, 255);
}

#alreadyRegistered{
  padding-left:50px;
}

#submit{
  margin-left:50px;
}

#firstName{
  display:flex;
  flex-direction: column;
}

#lastName{
  display:flex;
  flex-direction: column;
}

#userEmail{
  display:flex;
  flex-direction: column;
}

#password{
  display:flex;
  flex-direction: column;
}

#userEmail{
  display:flex;
  flex-direction: column;
}

#phoneNumber{
  display:flex;
  flex-direction: column;
}

#confirmPassword{
  display:flex;
  flex-direction: column;
}


