/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  border: 1px solid red;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* -------------------------------- */

#flexContainer{
    display:flex;
    height: 100vh;
}

#leftContainer{
    width: 35%;
    background-image: url("./content/peyman-shojaei-vRbRbzaXoBw-unsplash.jpg");
    background-position: right;
    background-size: 300%;
}

#companyLogo{
    background-color: black;
    margin-top: 30vh;
    opacity: 0.45;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#odinLogo{
    width: 120px;
    height: auto;
    opacity: 1;
}

#rightContainer{
  width:100%;
  height:100vh;
}

#formHeader{
  text-align: center;
  margin-bottom: 100px;
}

#formContainer{
  background-color: gainsboro;
  height:500px;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textInput{
  width: 60%;
  margin: 5px 0px;
}